header {
  background-color: blue;
  padding: 10px;
}

#algo-buttons {
  background-color: burlywood;
  float: right;
  margin: 10px;
}

#title{
  color: white;
  display: inline;
}

br{
  clear: both;
}

#sorting-title {
  color: white;
  /* float: right; */
}

.header-dropdown {
  left: 80% !important;
  margin: 10px;
}