header {
  background-color: blue;
  padding: 10px;
  height: 100px;
}

button {
  background-color: burlywood;
  float: right;
  margin: 10px;
}

#title{
  color: white;
  display: inline;
}

br{
  clear: both;
}

#sorting-title {
  color: white;
  float: right;
}